/data/**
**/.venv/
*/venv
/PROBLEM1/william/images
PROBLEM1/william/images.zip
/PROBLEM1/william/venv
/PROBLEM1/theodor/myenv
/PROBLEM1/efficientNet_classification/venv
/PROBLEM1/efficientNet_classification/images
/PROBLEM1/efficientNet_object_detection/venv
/PROBLEM1/efficientNet_object_detection/images

**/images/**
/PROBLEM2/william_pipeline/venv
/PROBLEM2/william_pipeline/dataset
/PROBLEM2/william_pipeline/videos
/PROBLEM2/william_pipeline/yolo_dataset
/PROBLEM2/william_pipeline/output
/PROBLEM2/william_pipeline/venv_windows
